/* ==UserStyle==
@name           bilibili Dark Theme
@namespace      y-64
@version        1.25.0616.1
@description    A dark theme for bilibili.com
@author         y-64
@license        GPL-3.0
@preprocessor   stylus
==/UserStyle== */
@-moz-document regexp("^https?://(?:[^\/.]+\.)*bilibili\.com/.*") {
    :root {
        --b-Wh0: #FFFFFF;
        --b-Ga0: #F6F7F8;
        --b-Ga1: #F1F2F3;
        --b-Ga2: #E3E5E7;
        --b-Ga3: #C9CCD0;
        --b-Ga3-rgb: 201, 204, 208;
        --b-Ga3p75: #B5B9BF;
        --b-Ga4: #AEB3B9;
        --b-Ga4p75: #9AA0A6;
        --b-Ga5: #9499A0;
        --b-Ga5p75: #80868D;
        --b-Ga6: #797F87;
        --b-Ga7: #61666D;
        --b-Ga8: #484C53;
        --b-Ga8p50: #3C3F46;
        --b-Ga8p75: #35383F;
        --b-Ga9: #2F3238;
        --b-Ga9-rgb: 47, 50, 56;
        --b-Ga9p25: #292C31;
        --b-Ga9p50: #24262A;
        --b-Ga9p75: #1E1F23;
        --b-Ga9p75-rgb: 30, 31, 35;
        --b-Ga10: #18191C;
        --b-Ba0: #000000;
        --b-Pi2: #FFD9E4;
        --b-Pi3: #FFB3CA;
        --b-Pi4: #FF8CB0;
        --b-Pi5: #FF6699;
        --b-Pi6: #E84B85;
        --b-Or3: #FFC18F;
        --b-Or4: #FFA058;
        --b-Or5: #FF7F24;
        --b-Or6: #E95B03;
        --b-Gr2: #CAF1D6;
        --b-Gr3: #95E4AF;
        --b-Gr4: #5FD689;
        --b-Gr5: #2AC864;
        --b-Cy2: #C4EFF0;
        --b-Cy3: #89E1E1;
        --b-Cy4: #4FD3D1;
        --b-Cy5: #14C4BF;
        --b-Lb2: #BFEDFA;
        --b-Lb3: #80DAF6;
        --b-Lb4: #40C5F1;
        --b-Lb5: #00AEEC;
        --b-Lb5p50: #009CD8;
        --b-Lb6: #008AC5;
        --b-Pu2: #EDDBFF;
        --b-Pu3: #D8B6FF;
        --b-Pu4: #C392FF;
        --b-Pu5: #AC6DFF;
        --b-Si5: #AFC0D5;
        --b-Si6: #8D9FB9;
        --b-Si7: #6D7F9C;
        --b-Si8: #4D5D7C;
        --bg1u: var(--b-Ga9p75);
        --bg1u-rgb: var(--b-Ga9p75-rgb);
        --bg2u: var(--b-Ga9);
        --bg2u-rgb: var(--b-Ga9-rgb);
        --bg2p25: var(--b-Ga9p25);
        --bg2p50: var(--b-Ga9p50);
        --bg3u: var(--bg2u);
        --bg4u: var(--b-Ga8p50);
        --bg5u: var(--b-Ga8);
        --text0u: var(--b-Ga2);
        --text1u: var(--b-Ga3p75);
        --text2u: var(--b-Ga4p75);
        --text3u: var(--b-Ga5p75);
        --text4u: var(--b-Ga7);
        --text5u: var(--b-Ga8);
        --trans: transparent;
        --trans-hov: transparent;
        --fff: var(--b-Wh0);
        --fff-hov: var(--b-Wh0);
        --iwh: var(--b-Ga1);
        --iwh-hov: var(--b-Ga0);
        --bbl3: var(--b-Lb3);
        --bbl5-hov: var(--b-Lb4);
        --bbl5: var(--b-Lb5);
        --bbl6: var(--b-Lb6);
        --bpi3: var(--b-Pi3);
        --bpi5-hov: var(--b-Pi4);
        --bpi5: var(--b-Pi5);
        --bpi6: var(--b-Pi6);
        --bor4: var(--b-Or4);
        --bor4-hov: var(--b-Or3);
        --bor5: var(--b-Or5);
        --bg2-hov: var(--bg4);
        --bg4-hov: var(--bg5);
        --bg5-hov: var(--b-Ga7);
        --text0: var(--text0u);
        --text1-hov: var(--text0);
        --text2-hov: var(--text1);
        --text3-hov: var(--text2);
        --text4-hov: var(--text3);
        --trans-s: 1px solid transparent;
        --trans-s-hov: var(--trans-s);
        --bg1-s: 1px solid var(--bg1);
        --bg2-s: 1px solid var(--bg2);
        --bg2-s-hov: 1px solid var(--bg2-hov);
        --bg2-2s: 2px solid var(--bg2);
        --bg4-s: 1px solid var(--bg4);
        --bg4-s-hov: 1px solid var(--bg4-hov);
        --bg5-s: 1px solid var(--bg5);
        --bg5-s-hov: 1px solid var(--bg5-hov);
        --bg5-2s: 2px solid var(--bg5);
        --text1-s: 1px solid var(--text1);
        --text2-s: 1px solid var(--text2);
        --text2-s-hov: 1px solid var(--text2-hov);
        --text2-2s: 2px solid var(--text2);
        --text2-2s-hov: 2px solid var(--text2-hov);
        --text3-s: 1px solid var(--text3);
        --text4-s: 1px solid var(--text4);
        --text4-s-hov: 1px solid var(--text4-hov);
        --text5-s: 1px solid var(--text5);
        --bbl5-s: 1px solid var(--bbl5);
        --bbl5-s-hov: 1px solid var(--bbl5-hov);
        --bbl5-2s: 2px solid var(--bbl5);
        --bbl5-2s-hov: 2px solid var(--bbl5-hov);
        --bpi5-s: 1px solid var(--bpi5);
        --bpi5-2s: 2px solid var(--bpi5);
        --bpi5-2s-hov: 2px solid var(--bpi5-hov);
        --bor4-s: 1px solid var(--bor4);
        --bor4-s-hov: 1px solid var(--bor4-hov);
        --bor5-s: 1px solid var(--bor5);
        --shadow-8: 0px 0px 8px rgba(0, 0, 0, 0.5);
        --shadow-10: 0px 0px 10px rgba(0, 0, 0, 0.5);
        --ra-btn-md: 8px;
        --ra-btn-rd: 99px;
        --ra-popup-rt: 6px;
        --ra-popup-rd: 12px;
        --ra-tag: 4px;
    }

    btn(couleur, bgc, bordure) {
        background-color: var(bgc) !important;
        border: var(bordure) !important;
        color: var(couleur) !important;
        box-shadow: none !important;
        transition: all .25s ease;
        &:hover {
            background-color: var(bgc+-hov) !important;
            border: var(bordure+-hov) !important;
            color: var(couleur+-hov) !important;
        }
    }

    btnHW() {
        border-radius: var(--ra-btn-md) !important;
        line-height: normal !important;
        height: auto !important;
        width: auto !important;
        padding: 5px 16px !important;
    }

    tag(couleur, bgc=false, borderColor=false, radius=--ra-tag) {
        background-color: var(bgc||--trans) !important;
        border: var((borderColor||bgc||couleur)+-s) !important;
        border-radius: var(radius) !important;
        color: var(couleur) !important;
        height: auto !important;
        padding: 0px 5px !important;
    }

    popup(bgc, borderColor, radius, shadow) {
        background-color: var(bgc) !important;
        border-color: var(borderColor) !important;
        border-radius: var(radius) !important;
        box-shadow: var(shadow) !important;
    }

    pop(radius, bgc=--bg2u) {
        popup(bgc, --trans, --ra-popup+radius, --shadow-10);
    }
}

@-moz-document regexp("^https?://((?!account|app|cool|jobs|link|live|love|member|play-live|passport|pay|show)(?:[^\/.]+\.)*)bilibili\.com/(?!audio|blackboard(?!/help\.html)|festival|watchroom|v/(customer-service|pay|virtual)).*") {
    :root {
        --Ga1: var(--bg3);
        --Ga2: var(--line_regular);
        --Ga3: var(--text4);
        --Ga9: var(--text1);
        --Ga10: var(--text1);
        --Ga11: var(--bg1);
        --Pi10_u: var(--b-Pi3);
        --bg1: var(--bg1u);
        --bg1_rgb: var(--bg1u-rgb);
        --bg2: var(--bg2u);
        --bg3: var(--bg2);
        --bg4: var(--bg4u);
        --bg5: var(--bg5u);
        --bg1_float: var(--bg2);
        --v_bg1_float: var(--bg1);
        --bg1_float_rgb: var(--bg1_rgb);
        --bg2_float: var(--bg3);
        --text1: var(--text1u);
        --text2: var(--text2u);
        --text3: var(--text3u);
        --text4: var(--text4u);
        --text5: var(--text5u);
        --text_link: var(--b-Lb5p50);
        --line_light: var(--bg3);
        --line_regular: var(--b-Ga8p75);
        --line_bold: var(--text4);
        --graph_bg_bright: var(--bg1);
        --graph_bg_thin: var(--bg2);
        --graph_bg_thin_rgb: var(--bg2u-rgb);
        --graph_bg_thin_float: var(--bg2);
        --graph_bg_regular: var(--bg3);
        --graph_bg_regular_float: var(--bg4);
        --graph_bg_thick: var(--bg4);
        --graph_bg_tick: var(--bg4);
        --graph_weak: var(--text3);
        --graph_medium: var(--text3);
        --graph_bold: var(--text2);
        --graph_icon: var(--text2);
        --bpx-dmsend-disable-button-bg: var(--bg4);
        --bpx-dmsend-disable-button-text: var(--text4);
        --bpx-dmsend-hint-icon: var(--text3);
        --bpx-tooltip-color: var(--text0u);
        color-scheme: dark;
    }
    .banner-content,
    html,
    img {
        filter: brightness(0.96);
    }
    [class^="_VideoAs"] {
        --app_graph_bg: var(--bg1) !important;
    }
    iframe {
        color-scheme: initial;
    }

    *:not(html):not(body) {
        &::-webkit-scrollbar {
            width: 6px !important;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--bg5) !important;
            border-radius: var(--ra-btn-rd) !important;
        }
    }

    input,
    #app input,
    #app ~ div input,
    textarea,
    #app textarea,
    #app ~ div textarea {
        background-color: transparent;
        color: var(--text1);
        caret-color: var(--text1);
        &::placeholder {
            color: var(--text3);
        }
    }
    .bili-dyn-sidebar__btn,
    .bili-radio__inner,
    body {
        background-color: var(--bg1);
    }
    .history-item,
    #i_cecream .primary-btn:not(:hover),
    .watchlater-pip-button-inner:not(:hover),
    .floor-card-inner:not(:hover),
    .follow-group-mask,
    .collection-mask,
    .sub-tag-item:not([checked="checked"]) .item-check-btn,
    [class^="_Seek"] [class^="_Item"],
    [class^="_RestoreAuto"],
    [class*="collectionMask"],
    .bili-footer {
        background-color: var(--bg1) !important;
    }
    .bili-header .slide-down,
    .header-channel,
    .search-fixed-header,
    .mini-header,
    .fixed .main-breadcrums {
        background-color: var(--bg1) !important;
        box-shadow: var(--shadow-10) !important;
    }
    .vui_button--link:hover,
    .up-info__btn-panel .upinfo-btn-panel .default-btn,
    .normal-base-item .cover {
        background-color: var(--bg2);
    }
    .search-input .clear-icon,
    .up-avatar,
    .pic-box,
    .b-img.sleepy,
    .dropdown-top {
        background: var(--bg2) !important;
    }
    .bili-mini-line {
        background-color: var(--bg4);
    }
    .login-tab-line,
    .bili-video-card__info--no-interest-panel--item:hover,
    .liked:hover,
    [class^="_Tab"][class*="_Active"] {
        background-color: var(--bg4) !important;
    }
    .bili-header .icon-bg,
    .game-card-content-footer-rank,
    .up-name .mask,
    .video-argue-inner.strong,
    .honor[class*="honor-"] {
        background: var(--trans) !important;
    }
    .van-popover,
    body {
        color: var(--text1);
    }
    .follow-dialog-wrap li:not(:hover),
    .act-rich-render-content {
        color: var(--text1) !important;
    }
    .bili-mini-customer-title,
    .login-tab-item:not(.active-tab) {
        color: var(--text2);
    }
    .login-scan-title,
    .login-scan-desc p,
    .add-group .add-btn {
        color: var(--text2) !important;
    }
    .login-sns-wp *,
    .login-agreement-wp p,
    .bili-mini-content-wp input::placeholder {
        color: var(--text3);
    }
    .bpx-player-video-inputbar {
        color: var(--text3) !important;
    }
    .login-sms-wp .disable,
    .opt-list .disabled {
        color: var(--text4) !important;
    }
    .section-item:hover .section-title {
        color: var(--bbl5) !important;
    }
    .space-notice {
        color: var(--bpi5) !important;
    }
    .v-popover [class*="info"] path {
        fill: var(--text3);
    }
    .search-input .clear-icon > use,
    .bui-checkbox .bui-checkbox-icon svg,
    .game-header .search-icon path,
    .css-1xneiug .border,
    .css-1xneiug .content {
        fill: var(--text4);
    }
    .vui_button.vui_button--round,
    .nav-search-btn,
    .header-upload-entry,
    .enter-button,
    .vote-btn,
    [class*="game_button"] {
        border-radius: var(--ra-btn-rd) !important;
    }
    [class^="sponsor_btn"] {
        border-radius: var(--ra-btn-md) !important;
    }
    .bpx-player-filter-wrap *:not(span) {
        border-color: var(--bg4) !important;
    }
    .login-scan-box,
    .form__separator-line,
    .login-sms-wp__vertical-line,
    .mc-box:not(.on):not(:hover),
    [class*="coin_mc_box"]:not([class*="coin_on"]):not(:hover) {
        border-color: var(--bg5) !important;
    }
    .single-card.floor-card,
    [class*="List_sp_msg"] {
        border-color: var(--trans) !important;
    }
    .drop-list,
    .fixed-wrapper-shown,
    .vui_dialog--content {
        box-shadow: var(--shadow-10) !important;
    }
    .bili-mini-content-wp input {
        box-shadow: inset 0 0 0 1000px var(--bg2) !important;
    }
    .el-input__inner {
        box-shadow: 0 0 0 1px var(--bg4) inset !important;
    }
    .bili-feed4 .bili-header .slide-down,
    #bilibili-player-placeholder,
    .bpx-player-container,
    [class^="NanoPlay"],
    .calendar-table tr > *,
    .player-popup,
    .catalogue-nav-wrp {
        box-shadow: none !important;
    }
    input[type="checkbox"]:not(:hover):not(:checked) + i {
        filter: brightness(0.3);
    }
    .bili-header .nav-search-clean:not(:hover),
    .second-line_left img,
    .helper-btn::before {
        filter: brightness(0.6);
    }
    .bili-mini-close-icon,
    #link-message-container .side-bar .icon,
    .active-content__desc span:first-child {
        filter: invert(0.9);
    }
    .recommended-container_floor-aside .container > *:nth-of-type(n+8),
    .recommended-container_floor-aside .container.is-version8 > *:nth-of-type(n+13) {
        margin-top: 0;
    }
    .icon-bg__dynamic {
        border: 3px solid var(--bbl5);
        & ~ .icon-title {
            color: var(--bbl5);
        }
        & path {
            stroke: var(--bbl5);
        }
    }
    .icon-bg__popular {
        border: 3px solid var(--bpi5);
        & ~ .icon-title {
            color: var(--bpi5);
        }
        & path {
            fill: var(--bpi5);
        }
    }
    #dialog-user-rating-button:not([class*="act"]),
    .sponsor-btn.disabled,
    .mr-btn:not(.active),
    .follow-dialog-wrap .btn:disabled {
        background-color: var(--bg4) !important;
        border-color: var(--trans) !important;
        color: var(--text4) !important;
    }
    .tool-item:not(:hover),
    .back-top-btn:not(:hover) {
        background-color: var(--bg1) !important;
        border-color: var(--bg4) !important;
    }
    .bili-mini-content-wp .tab__form {
        border-color: var(--bg5);
        color: var(--text1);
    }
    .bili-header #nav-searchform,
    .search-layout .search-input-wrap {
        background-color: var(--bg2) !important;
        border: var(--bg2-s) !important;
        border-radius: var(--ra-btn-rd) !important;
        transition: all .3s ease !important;
        &:hover {
            border: var(--bg5-s) !important;
        }

        &[class*="-focus"] {
            border: var(--bg5-s) !important;
            box-shadow: var(--shadow-10);
        }

        & input::placeholder {
            color: var(--text3) !important;
        }
    }
    .bili-header .search-panel,
    .search-panel-popover {
        pop(-rd);
    }
    .bili-header .search-panel {
        margin-top: 8px !important;
        border-radius: 16px !important;
        padding: 16px 4px !important;
    }
    .trendings-col:first-child {
        margin-right: 4px !important;
    }
    .bili-header #nav-searchform {
        padding-left: 6px !important;
        & .nav-search-content,
        & .nav-search-content input {
            background-color: transparent !important;
        }
    }
    .search-layout {
        & .search-input {
            margin: 30px 0 12px !important;
        }
        & .search-input-wrap {
            height: 46px !important;
        }
        & .search-button {
            border-radius: 16px var(--ra-btn-rd) var(--ra-btn-rd) 16px !important;
            height: 32px !important;
        }
        & .search-panel-popover {
            border-radius: 22px !important;
            padding: 16px 10px !important;
            top: 55px !important;
        }
    }
    [class*="-actions"] .vui_button,
    .follow-btn__trigger {
        width: 82px !important;
        height: 30px !important;
        min-width: auto !important;
    }
    .bili-video-card__info--icon-text,
    .game-card-content-head-recommend,
    .normal .up span,
    .rcmd-tag {
        tag(--bor4);
    }
    .follow-btn.following,
    .follow-btn.inactive,
    .follow-btn.on {
        btn(--text3, --bg2, --trans-s);
    }
    .btn_other,
    .bpx-player-adv-danmaku-dialog-function,
    .day-select {
        btn(--text2, --trans, --bg5-s);
    }
    .old-charge-btn,
    .new-charge-btn + .follow-btn.not-follow,
    .follow-btn.not-follow:only-child,
    .search-content .vui_button--blue,
    .episode-list .list-item.last-read,
    .follow-btn__trigger:not(.gray) {
        btn(--bbl5, --trans, --bbl5-2s);
    }
    [class^="mediainfo_btn"] {
        btn(--bbl5, --trans, --bbl5-2s);
        border-radius: var(--ra-btn-rd) !important;
        padding: 5px 12px !important;
    }
    .new-charge-btn.charge-btn-loaded {
        btn(--bpi5, --trans, --bpi5-2s);
    }
    .upinfo-btn-panel .default-btn {
        border-radius: 8px !important;
        height: 29px !important;
        line-height: 29px !important;
    }
    .upinfo-btn-panel [class*="-charge-btn"] {
        width: 90px !important;
    }
    .upinfo-btn-panel .follow-btn {
        max-width: 146px !important;
    }
    #app .up-info__detail {
        margin-bottom: 8px;
    }
    .charge-btn-icon {
        margin-left: -8px;
    }
    .submit-move,
    [class*="Collect_btn"] {
        border-radius: var(--ra-btn-md) !important;
        margin-top: 20px !important;
        height: 34px !important;
        width: 120px !important;
    }
    .panel-v2,
    .rank-video-card__popover,
    .misl-ep-item:not(.simple),
    .sp-msg,
    .sp-msg::before {
        popup(--trans, --trans, --ra-popup-rt, --trans);
    }
    .bili-mini-content-wp,
    .v-popover-content,
    .video-share-popover,
    .modal-content,
    .user-card-m-exp,
    #musicApp,
    [class^="_VideoAs"],
    .bili-game-header-user-popper,
    .popup-box,
    .bp-emoji-box .static-popup,
    .cs-actions-wrap,
    .bp-popup-panel {
        pop(-rd);
    }
    .bili-dialog-bomb > div,
    .follow-dialog-window,
    .overlay .content {
        pop(-rd, --bg1);
    }
    .lt-row ~ div .v-popover-content,
    .vui_popover-content,
    .video-tool-more-popover,
    .search-sub-channel,
    .pod-description-popover,
    .bpx-player-report-box,
    .bili-popover,
    .channel-select-content {
        pop(-rt);
    }
    .van-followed,
    .bui-dropdown-items,
    [class*="follow_optionsList"],
    [class*="selectorDrop"],
    .opt-list,
    .sort-type-wrp ul {
        pop(-rt);
        padding: 4px !important;
    }
    .sponsor-pay-header {
        background-color: var(--bg2) !important;
        border-color: var(--trans) !important;
        border-radius: var(--ra-popup-rd) !important;
        color: var(--text1) !important;
    }
    .bili-video-card__info--no-interest-panel {
        padding: 4px;
    }
    .living-up-list {
        margin-bottom: 0 !important;
    }
    .header-dynamic-list-item {
        padding: 6px 20px !important;
    }
    .bili-header .header-fav-card {
        padding: 6px 10px !important;
    }
    .dynamic-panel-popover .header-tabs-panel__content {
        max-height: 680px;
    }
    .favorite-panel-popover__nav,
    .favorite-panel-popover__content,
    .history-panel-popover {
        height: 680px;
    }
    .favorite-panel-popover__content .content-scroll {
        height: 633px;
    }
    .history-panel-popover .header-tabs-panel__content {
        height: 620px;
    }
    .collection-m-exp,
    [class*="_dialogContent"],
    .follow-dialog-wrap-exp,
    .follow-dialog-window {
        width: 762px !important;
    }
    .follow-dialog-window {
        left: auto !important;
        margin-left: auto !important;
    }
    .follow-dialog-window .content,
    .bili-dialog-bomb .content,
    [class*="Collect_con"] {
        height: 454px !important;
        max-height: 454px !important;
        overflow: auto;
    }
    .group-list ul,
    [class*="_groupList"] ul,
    .modify-fav-list .vui_radio-group,
    .modify-relationship-list .vui_checkbox-group {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        column-gap: 60px;
    }
    .add-group,
    [class*="_addGroup"],
    .modify-relationship-create {
        width: auto !important;
    }
    .group-list,
    [class*="_groupList"] {
        overflow: unset !important;
        & li:not(:last-child) {
            padding-bottom: 17px !important;
        }
    }
    .floor-single-card .layer,
    .desktop-download-tip,
    .usercard-wrap .layout,
    .bili-dialog-bomb .layout,
    .hovercard .tip,
    .share-popover:after {
        display: none;
    }
    .adblock-tips,
    .is-rcmd:has(.bili-video-card__info--ad) .bili-video-card__info,
    .couplet-locs,
    .adcard-content,
    .btn-ad,
    .col_3:has(.bili-video-card__info--ad),
    .reply-notice,
    .activity-m-v1,
    .ad-report,
    .slide-ad-exp,
    .ad-feedback-menu,
    .video-page-special-card-small,
    #right-bottom-banner,
    [class^="vipPay"],
    [class^="paybar_con"],
    .gg-floor-module,
    div.cm-module,
    .eva-banner {
        display: none !important;
    }
    .is-rcmd:has(.bili-video-card__info--ad) .bili-video-card__wrap {
        background: url(//i0.hdslb.com/bfs/album/eb65ae5ee6f66b6381090f5bee4fe6cbabfd6d0d.png@360w_!web-dynamic.webp) center/cover no-repeat;
        border-radius: 6px;
        & a {
            visibility: hidden;
        }
    }
    @media screen and (min-width: 1760px) {
        .video-pod__body,
        .multi-page-v1 .cur-list {
            height: auto !important;
            max-height: 455px !important;
        }
        .video-sections-content-list {
            height: auto !important;
            max-height: 455px !important;
        }
        [class^="numberList_wrap"],
        [class^="imageList_wrap"] {
            max-height: 491px !important;
        }
    }
}

@-moz-document regexp("^https?://game\.bilibili\.com/(platform/.*)?"),
regexp("^https?://(www\.)?bilibili\.com/cheese/.*") {
    :root {
        --Ba0_s: var(--text1);
        --Wh0: var(--bg1);
        --Wh0_s: var(--bg1);
        --Ga0: var(--bg2);
        --Ga0_s: var(--bg2);
        --Ga1_s: var(--bg3);
        --Ga3: var(--text4);
        --Ga5: var(--text3);
        --Ga7: var(--text2);
        --Ga8: var(--text2);
        --Ga12: var(--bg3);
        --Ga12_s: var(--bg2);
        --Bl1: var(--b-Si8);
        --Si4: var(--b-Si8);
        --Si5: var(--b-Si7);
    }
}

@-moz-document regexp("^https?://(www\.)?bilibili\.com/bangumi/(?!media).*") {
    .home-container .main-container,
    [class*="SendingBar"],
    [class^="navTools_na"] [class^="navTools_it"] {
        background-color: var(--bg1);
    }
    [class*="mediaCover"],
    [class^="RecommendItem_cover"],
    [class^="Share"] > div,
    [class*="playerPop"],
    [class*="coverWrap"] {
        background-color: var(--bg2) !important;
    }
    [class*="follow_optionsList"] li:not([class^="follow_dis"]):hover,
    [class*="dropdownItem"]:hover {
        background-color: var(--bg4) !important;
    }
    [class*="List_sp_rank"],
    [class*="sponsor_point"] {
        color: var(--text2) !important;
    }
    [class^="RecommendItem_sub"] * {
        color: var(--text3) !important;
    }
    [class*="follow_followed"] path,
    #empty-star path,
    #play-icon path,
    #danmu-icon path {
        fill: var(--text3);
    }
    [class*="rankList_svg"] {
        fill: var(--text5) !important;
    }
    [class^="follow_btn"] {
        border-radius: var(--ra-btn-rd) !important;
    }
    [class^="numberListItem_nu"] {
        height: 38px;
        & [class^="numberListItem_ti"] {
            color: var(--text2);
            font-size: 14px;
            line-height: 38px;
        }

        &:not([class*="Item_select"]) {
            btn(--text2, --trans, --bg4-s);
            transition: all .1s !important;
            &:hover {
                border-color: var(--bbl5) !important;
            }
        }
    }
    [class*="Item_badge"] {
        font-size: 10px;
        height: 17px;
        line-height: 17px;
        top: -8px;
        right: -8px;
    }
    [class^="follow_btn"][class*="_followed"],
    [class^="upinfo_upInfo"] {
        btn(--text3, --bg2, --trans-s);
        border-radius: var(--ra-btn-rd) !important;
    }
    [class^="Share_share__"],
    [class*="watch_more"] {
        pop(-rd);
    }
    [class*="coin_op"],
    [class*="dialogCon"],
    [class*="1080p_m"],
    [class*="review_con"],
    [class*="rank_content"],
    [class*="pay_con"] {
        pop(-rd, --bg1);
    }
    [class^="moreTool_po"] {
        pop(-rt);
    }
}

@-moz-document regexp("^https?://(www\.)?bilibili\.com/anime/.*"),
regexp("^https?://(www\.)?bilibili\.com/guochuang/.*"),
regexp("^https?://(www\.)?bilibili\.com/v/anime/.*"),
regexp("^https?://(www\.)?bilibili\.com/v/guochuang/.*"),
regexp("^https?://(www\.)?bilibili\.com/.*/index/.*"),
regexp("^https?://(www\.)?bilibili\.com/bangumi/media/.*") {
    .title-right:not(:hover),
    #app .nav-tool .section,
    .media-tab-wrp {
        background-color: var(--bg1);
    }
    .media-info-card,
    .review-feed-wrapper {
        background-color: var(--bg2) !important;
    }
    .share-module,
    .season-slider-list li::after,
    .sp-rank i {
        background-color: var(--trans) !important;
    }
    .recommend-feed-line-rank-wrapper {
        background: transparent !important;
    }
    .week-day-item.active {
        background-color: var(--bbl5) !important;
        color: var(--iwh) !important;
    }
    .sp-user:not([style^="c"]),
    .sponsor-choice li:not(.active) span,
    .sponsor-hint,
    .sponsor-agree a:not(:hover) {
        color: var(--text1) !important;
    }
    .bread-crumb ul li a,
    .bangumi-review-item .item-header .author-name,
    .review-list-wrp li .review-author-info div.review-author-name {
        color: var(--text2);
    }
    .sponsor-point,
    .feed-header span:not(:hover) {
        color: var(--text2) !important;
    }
    .home-v3-app-container .home-cell-desc-subtitle {
        color: var(--text3);
    }
    .pub-info,
    .sponsor-agree,
    .pub-time,
    .review-body-wrap .tip,
    .mic-info,
    .review-author-time,
    .review-detail ~ div *,
    .review-about,
    .review-about a:not(:hover),
    .likes,
    .limit,
    .img-text {
        color: var(--text3) !important;
    }
    .season-slider-list li:not(.cur):last-child {
        border-color: var(--bg2) !important;
    }
    .sponsor-choice input,
    .review-body-wrap {
        border-color: var(--bg5) !important;
    }
    .tl-weeks:after,
    .season-group {
        border-color: var(--text3) !important;
    }
    .sp-left img,
    .sp-list-nav {
        border-color: var(--trans) !important;
    }
    .sort-item i.up {
        border-bottom-color: var(--text4);
    }
    .sort-item i.down {
        border-top-color: var(--text4);
    }
    .season-slider-list li:not(.cur)::after,
    .season-slider-list li:not(.cur)::before {
        filter: invert(0.84);
    }
    .title-right .left-icon,
    .today .day-of-week {
        filter: invert(0.9);
    }
    .ranking-cell-index {
        filter: brightness(1.8);
    }
    .subject-picture.has-background {
        opacity: 0.4 !important;
    }
    .tl-day:not(.today) .indicator,
    .sp-msg > span {
        display: none !important;
    }
    #app .nav-tool {
        left: unset;
        right: 0;
        position: fixed;
        transform: none;
    }
    .weixin-share-modal,
    .sponsor-rank-content,
    .sponsor-pay-content,
    .short-review-content,
    .report-dialog-content {
        pop(-rd);
    }
}

@-moz-document regexp("^https?://www\.bilibili\.com/(documentary|movie|tv|variety)/.*") {
    .index-module {
        background: linear-gradient(0deg, var(--bg1) 14.49%, rgba(30, 31, 35 .8) 60.12%, rgba(20, 20, 20, .0001)) !important;
    }
    .index-module .title,
    .all-a:not(:hover) *,
    .sub-m:not(:hover),
    .side-item div {
        color: var(--text0) !important;
    }
    .section-title,
    .hot-item:not(:hover) .title,
    .promotion-c:not(:hover) .title,
    .hover-c:not(:hover) .title,
    .subTitle:not(.highlight),
    .link {
        color: var(--text1) !important;
    }
    .desc {
        color: var(--text3) !important;
    }
}

@-moz-document regexp("^https?://game\.bilibili\.com/(platform/.*)?") {
    :root {
        --Ga10_rgb: var(--b-Ga3-rgb);
    }
    .swiper-slide:only-child .layout-container,
    .swiper-slide:only-child .gradient-overlay,
    .tag,
    .rank-list,
    .rank-card .header,
    .feed-container .card,
    .b-img,
    .feed-container .default-button {
        background: var(--trans) !important;
    }
    #app .gc-header input {
        background-color: var(--text0);
        color: var(--bg1);
    }
    .notice {
        color: var(--text2) !important;
    }
    .bili-game-header-nav-bar {
        box-shadow: var(--shadow-10) !important;
    }
    [class^="ske"] {
        display: none;
    }
}

@-moz-document regexp("^https?://manga\.bilibili\.com/(?!account-center).*") {
    .manga-footer,
    .drop-list,
    .manga-navbar .right-part [class*="-btn-container"],
    .multi-line-text::after,
    .hot-seller,
    .manga-detail .layout {
        background-color: var(--bg1) !important;
    }
    .search-bar-bg,
    .dot,
    .split {
        background-color: var(--bg2) !important;
    }
    .schedule-img,
    .empty-hinter,
    .rank-item-wrapper,
    .back-to-content,
    .discount-hinter {
        background: var(--trans) !important;
    }
    .right-part .login-panel .action-button,
    .row .nav-list .nav-item,
    .right-part .app-button {
        color: var(--text1);
    }
    .manga-navbar-manga-logo,
    .hovercard .line,
    [class*="-btn-container"] .app-button,
    .manga-title,
    .section-title,
    .schedule-list .title-text,
    .rank-title,
    .category-item,
    .m-auto .title,
    .title1,
    .title .text,
    .app-button.tab.active,
    .section-item:not(.current),
    .style-tag,
    .first-line {
        color: var(--text1) !important;
    }
    .user-panel [class*="item-"],
    .date-item:not(.active),
    .sidebar-item:not(.activated),
    .author-name,
    .introduction-text,
    .header-content .more:not(:hover),
    .second-line,
    .manga-reader {
        color: var(--text2) !important;
    }
    .drop-list .text,
    .placeholder-item,
    .hot-category + div .sub-title,
    .sell-number,
    .completed-comic,
    .tags,
    .supporting-text,
    .block-title.v-top,
    .status-controls,
    .status-text,
    .rank-hint,
    .meta-ctnr > *,
    .comic-info {
        color: var(--text3) !important;
    }
    .app-button.tab {
        color: var(--text4) !important;
    }

    .app-layout a:hover,
    a [class*="text"]:hover,
    a [class*="title"]:hover {
        color: var(--bbl5) !important;
        cursor: pointer;
    }
    .recharge-panel {
        color: #222;
    }
    .fix-scroller *,
    .fav-icon.cancel,
    .discount-hinter {
        border-color: var(--trans) !important;
    }
    .manga-navbar-submission-portal,
    .cover-image,
    .manga-cover,
    .manga-cover img {
        border-radius: var(--ra-btn-md) !important;
    }
    .search-icon,
    .emmet,
    .list-body button,
    .label-icon,
    .fav-icon.add {
        filter: invert(0.9);
    }
    canvas {
        filter: brightness(0.94);
    }
    .last-read * {
        opacity: 1 !important;
    }
    .manga-detail .right-side {
        display: none;
    }
    .app-layout .size-ruler:has(.manga-detail) {
        margin: 0;
        padding: 70px 120px;
        width: 100%;
    }
    .section-list {
        width: 100% !important;
    }
    .list-data:not([style^="d"]) {
        display: grid !important;
        grid-template-columns: repeat(5, 1fr) !important;
        grid-gap: 16px;
    }
    .manga-button,
    .list-data .list-item {
        border-radius: var(--ra-btn-md) !important;
        margin: 0;
        width: auto !important;
        max-width: 473px;
    }
    #main-stage .header-item {
        background: var(--bg2) !important;
        border-radius: var(--ra-btn-md) !important;
        color: var(--text1) !important;
        &.selected {
            background: var(--bbl5) !important;
            color: var(--b-Wh0) !important;
        }
    }
    .back-to-top-button-container {
        position: fixed;
        right: 35px;
    }
    .batch-buy {
        btn(--bor4, --trans, --bor4-s);
        border-radius: var(--ra-btn-rd) !important;
    }
    .discount-hinter .button {
        btn(--bor4, --trans, --trans-s)
    }
    .manga-button.ghost,
    .episode-list .list-item {
        btn(--text2, --trans, --bg5-s);
    }
    nav.manga-navbar,
    .hovercard,
    .hot-category,
    .episode-comment {
        pop(-rt, --bg1);
    }
    .section-navigator,
    .back-to-content {
        pop(-rt, --bg2p25);
    }
}

@-moz-document regexp("^https?://(www\.)?bilibili\.com/match/.*"),
regexp("^https?://(www\.)?bilibili\.com/v/game/match/.*") {
    :root {
        --bg1_float: var(--bg1);
    }
    .light-theme {
        --guess-bg3: var(--bg3) !important;
        --guess-text1: var(--text1) !important;
        --guess-text1-2: var(--text3) !important;
        --guess-text-round: var(--text3) !important;
        --guess-line-color: var(--bg5) !important;
    }
    div[class*="popper"] *[class*="content-item"]:hover,
    .datepicker-popup .calendar-year > a:hover {
        background-color: var(--bg4) !important;
    }
    .card-cover {
        background-color: transparent !important;
    }
    .search-icon,
    .score .score-point,
    .filter-top,
    .competition-option-content,
    .lazy-img,
    .lazy-img img,
    .score-module-wrap *,
    .info-title > div,
    .user-mobal .center {
        background: transparent !important;
    }
    .hasDatepicker .datepicker,
    .schedule-filter .filter-content li {
        color: var(--text1);
    }
    .team-name,
    .rep-list-wrap .type {
        color: var(--text1) !important;
    }
    .how-pay,
    .popup-box ul li {
        color: var(--text2) !important;
    }
    .has-matchs div:nth-child(2),
    .time-status.over,
    .score-state,
    .no-competition {
        color: var(--text3) !important;
    }
    .lastMonth,
    .nextMonth {
        color: var(--text4) !important;
    }
    .special-text h3 {
        color: var(--iwh) !important;
    }
    .game-header .search-icon:hover path,
    .game-next [class^="arrow-"] path {
        fill: var(--text2);
    }
    .competition-option-content,
    .competition-option-input *,
    .relevant-container * {
        border-color: var(--bg5) !important;
    }
    .match-points-container,
    .rank-contests {
        border: 1px solid var(--line_regular) !important;
    }
    .header .tabs,
    .filter-top,
    .popup-title {
        border-color: var(--trans) !important;
    }
    .team-list .team.team-active {
        border-color: var(--bbl5) !important;
    }
    .slide-cover .card .btn {
        margin: 0 18px !important;
    }
    .icon-menu::after {
        filter: brightness(0.6);
    }
    .info-resource .resource-img {
        filter: invert(0.9);
    }
    .topbar .option-item {
        btn(--text2, --bg2, --trans-s);
    }
    .title .right,
    .all-video,
    .toggle-open-select,
    .game-menu .more {
        btn(--text2, --trans, --bg4-s);
    }
    .game-next .dis-btn {
        btn(--text3, --bg4, --trans-s);
        btnHW();
    }
    .game-next .card .btn {
        btn(--bbl5, --trans, --bbl5-2s);
        btnHW();
    }
    .slide-cover .card,
    [class^="arrow-"],
    .game-tab .slide-cover .card,
    .game-tab [class^="arrow-"],
    .team-list .team,
    .option,
    .video-option {
        pop(-rt, --bg2p25);
    }
    .popper > *,
    .user-options,
    .competition-option-hide > div {
        pop(-rt);
    }
}

@-moz-document regexp("^https?://space\.bilibili\.com/.*"),
regexp("^https?://(www\.)?bilibili\.com/watchlater/.*") {
    .bili-video-card {
        --bili-video-card-title-font-size: 14px !important;
        --bili-video-card-subtitle-font-size: 13px !important;
    }
    .float-button {
        background-color: var(--bg1);
    }
    .bili-video-card__cover,
    .opus-card--only-text,
    .menu-popover__panel-item {
        background-color: var(--bg2) !important;
    }
    [class*="-aside-section"] > div,
    .folder-cover-card__back2 {
        background-color: var(--bg2p25) !important;
    }
    .bili-card-dropdown-popper__item:hover {
        background-color: var(--bg4) !important;
    }
    .top-video__cover,
    .anounce,
    .b-img,
    .bili-cover-card,
    .toutu-content {
        background: transparent !important;
    }
    .toutu-content,
    .bui-dialog {
        box-shadow: var(--shadow-10);
    }
    .vui_drawer-drawer--bottom-placement {
        height: 640px !important;
    }
    .game-card {
        margin-bottom: 20px !important;
    }
    .game-card:last-child {
        margin-bottom: 0px !important;
    }
    .fav-collapse:nth-of-type(1) .fav-collapse-wrap {
        max-height: 639px;
    }
    .fav-collapse:nth-of-type(2) .fav-collapse-wrap {
        max-height: 552px;
    }
    .menu-popover__panel {
        padding: 0 !important;
    }
    .bili-card-dropdown-popper {
        padding: 4px !important;
    }
    .game-card {
        display: flex !important;
    }
    .game-card-info__btn {
        border-radius: var(--ra-btn-rd) !important;
        margin: auto 0 auto auto !important;
        width: auto !important;
    }
    .subscribe-section .btn {
        margin: 12px auto 0 auto !important;
        width: auto !important;
    }
    .game-card-info__btn.blue,
    .living-section__follow,
    .subscribe-section .vui_button--blue {
        btn(--fff, --bbl5, --bbl5-s);
    }
    .bili-card-dropdown-popper {
        pop(-rt);
    }
    .fav-modify-modal-content,
    .vui_dialog--content:has(.modify-relationship-list) {
        padding: 0 !important;
        width: 600px !important;
        & .vui_dialog--title {
            margin-top: 24px !important;
        }
        & .vui_dialog--footer {
            margin-bottom: 24px !important;
        }
    }
    .modify-fav-wrapper,
    .modify-relationship-list {
        padding: 0 32px !important;
    }
    .modify-relationship-desc,
    .modify-relationship-create {
        margin: 12px 32px !important;
    }
    .modify-fav-wrapper,
    .modify-relationship-list {
        height: 425px !important;
    }
    .vui_sidebar-item,
    .relation-collapse-create,
    .modify-fav-add,
    .modify-fav-item,
    .modify-relationship-create,
    .modify-relationship-list .vui_checkbox--label {
        height: 38px !important;
    }
}

@-moz-document regexp("^https?://(www\.)?bilibili\.com/medialist/detail/.*") {
    #app:has(.container.play-list),
    .delete-btn.delete-check {
        background-color: var(--bg1) !important;
    }
    .delete-btn {
        background-color: var(--bg4) !important;
    }
    .play-list .list-title:not(:hover),
    .play-list .upper-name:not(:hover),
    .source-name:not(:hover),
    .source-index,
    .window-item:not(:hover),
    .collect-item:not(:hover) {
        color: var(--text1) !important;
    }
    .draggable,
    .more-oprate {
        color: var(--text2) !important;
    }
    .list-info,
    .oprate-panel .iconfont:not(.blue-icon),
    .oprate-panel .icon-text,
    .media-list-type .iconfont:not(.blue-icon),
    .source-upper-name:not(:hover),
    .source-detail:not(.source-upper-name),
    .all-check,
    .source-check {
        color: var(--text3) !important;
    }
    .delete-btn:not(.delete-check) {
        color: var(--text4) !important;
    }
    .oprate-panel,
    .source-right {
        border-color: var(--bg2) !important;
    }
    .batch-btn.clear-btn:not(:hover) {
        border-color: var(--bg4) !important;
    }
    .window-item,
    .collect-item {
        border-color: var(--trans) !important;
    }
    .oprate-window,
    .collect {
        pop(-rt);
    }
}

@-moz-document regexp("^https?://message\.bilibili\.com/.*") {
    .message-bg {
        background-image: url(//i0.hdslb.com/bfs/album/ec22a65f8475b0f97a95cc3c6aea298aec910821.jpg) !important;
    }
    .z-top-container {
        background-color: var(--bg1) !important;
    }
    .message-box-shadow,
    .im-box-shadow,
    .group-popover,
    [class^="_SettingMenu"] {
        box-shadow: var(--shadow-10);
    }
}

@-moz-document regexp("^https?://t\.bilibili\.com/.*"),
regexp("^https?://(www\.)?bilibili\.com/v/topic/.*"),
regexp("^https?://(www\.)?bilibili\.com/opus/.*"),
url("https://www.bilibili.com/h5/topic-active/topic-intro") {
    .bgc,
    .bili-select-dropdown,
    .bili-set-follow-group__add__mask {
        background-color: var(--bg1) !important;
    }
    .bili-emoji__pkg.active {
        background-color: var(--bg2);
    }
    .active .bili-topic-search__input,
    .bili-topic-item__cloud:hover,
    .bili-emoji__pkg:not(.active):hover,
    .bili-emoji__list__item:hover,
    .share-popover__tips--content .title {
        background-color: var(--bg2p50) !important;
    }
    .bg,
    .b-img,
    .bili-album__preview__picture,
    .topic-detail__header {
        background: var(--bg2) !important;
    }
    .bili-topic-selector__bulletin__clear,
    .bili-at-popup__user--selected {
        background-color: var(--bg4);
    }
    .dyn-dispute__title,
    .horizontal-scroll-album__pic:not(.loaded) {
        background-color: transparent !important;
    }
    .topic-desc__text-btn {
        color: var(--text1) !important;
    }
    .bili-dyn-up-list__item__name,
    .bili-rich-text-module:not(:hover) {
        color: var(--text2);
    }
    .action-item__data {
        color: var(--text2) !important;
    }
    .bili-dyn-publishing__action,
    [class^="bili-dyn-card"] button,
    [class^="bili-dyn-upower"] button,
    .bili-dyn-share-publishing__action {
        border-radius: var(--ra-btn-rd);
    }
    .bili-dyn-my-info,
    .bili-dyn-live-users,
    .bili-dyn-banner,
    .bili-dyn-search-trendings,
    .bili-dyn-publishing,
    .bili-dyn-up-list,
    .bili-dyn-list-tabs,
    .bili-dyn-list-notification,
    section .bili-dyn-item,
    .opus-detail,
    .side-toolbar__box,
    .side-toolbar__btn {
        box-shadow: var(--shadow-8) !important;
    }
    .bili-set-follow-group__content {
        height: 450px !important;
    }
    .bili-popup-modal {
        height: 570px !important;
    }
    .bili-at-popup__list,
    .bili-popup__wrap {
        max-height: 625px !important;
    }
    .bili-modal,
    .bili-popup__wrap,
    .bili-dyn-share-publishing {
        border-color: var(--trans) !important;
        border-radius: var(--ra-popup-rd) !important;
        box-shadow: var(--shadow-10) !important;
    }
    .bili-at-popup {
        width: auto;
    }
    .bili-at-popup__user {
        margin: 0 !important;
        padding: 0;
    }
    .bili-at-popup__group-list {
        display: grid !important;
        margin: 0 12px 12px 20px;
        grid-template-columns: repeat(4, 1fr) !important;
        grid-gap: 6px;
    }
    .bili-topic-search__popover.active,
    .bili-at-popup,
    .bili-user-profile,
    .share-popover {
        pop(-rd);
    }
    .bili-cascader-options,
    .bili-follow-button__menu {
        pop(-rt);
        padding: 4px;
    }

    @media screen and (min-width: 1760px) {
        .bili-dyn-home--member main,
        #app > .content {
            width: 1024px;
        }
        .main-part,
        .list__topic-card .bili-dyn-item {
            min-width: 832px !important;
            min-width: 900px !important;
        }
        .bili-dyn-sidebar {
            right: calc(50vw - 836px);
        }
    }
}

@-moz-document regexp("^https?://(www\.)?bilibili\.com/v/popular/.*"),
regexp("^https?://music\.bilibili\.com/pc/.*") {
    .rank-tab-wrap {
        background-color: var(--bg1);
    }
    .video-card__content,
    .content .img,
    [class^="._loading"] {
        background-color: var(--bg2) !important;
    }
    .select-item:not(.item-active):hover,
    .other-link:hover,
    .vector-ver {
        background-color: var(--bg4) !important;
    }
    .bili-header__banner,
    .history-hint,
    .info-wrap .tag {
        background-color: transparent !important;
    }
    .weekly-hint,
    .rank-tips {
        color: var(--text2) !important;
    }
    [class^="_item"] [class^="_inlineVideoSquare"] {
        border-color: var(--trans);
    }
    [class*="_PcRankPeriod"] {
        box-shadow: var(--shadow-10) !important;
    }
    [class*="_arrow"] {
        display: none;
    }
    .musicInfo .btn,
    [class^="_moreMusic"] [class^="_btn"] {
        btn(--bbl5,
        --trans,
        --bbl5-s);
    }
    [class^="_musician"] [class^="_card"],
    [class^="_moreMusic"] > [class^="_cardList"] > div {
        pop(-rt,
        --bg2p25);
    }
    .weekly-header .panel,
    .rulePop {
        pop(-rt);
    }
}

@-moz-document regexp("^https?://(www\.)?bilibili\.com/cheese/.*") {
    p.url,
    .owner-unfollow:hover,
    .select-droplist li:hover {
        background-color: var(--bg4) !important;
    }
    .officialAccount-showContent,
    .rank-tag,
    .section-season {
        background-color: var(--trans) !important;
    }
    .exchange .submit {
        background: var(--Cy6) !important;
    }
    .tab-choose-fixed {
        box-shadow: var(--shadow-10) !important;
    }
    p.url input:focus-visible {
        outline: none;
    }
    .officialAccount,
    .share-pannel-wrp > div,
    .select-droplist {
        pop(-rd);
    }
}

@-moz-document regexp("^https?://t\.bilibili\.com/h5/dynamic/vote/#/.*"),
regexp("^https?://t\.bilibili\.com/vote/h5/index/#/.*") {
    #bp-app,
    html,
    body,
    .square:not(.checked) {
        background-color: var(--bg1);
    }
    .option-li {
        background-color: var(--bg2) !important;
        border-color: var(--trans) !important;
    }
    .percentage-bar {
        background-color: var(--bg5) !important;
    }
    .percentage-bar.my-vote {
        background-color: var(--bbl6) !important;
    }
    .vote-title,
    .option-text {
        color: var(--text1) !important;
    }
    .vote-user-name,
    .desc-title,
    .anonymous {
        color: var(--text2) !important;
    }
    .vote-user-text,
    .joined-text,
    .choice-count-text {
        color: var(--text3) !important;
    }
    .my-vote .option-text {
        color: var(--iwh) !important;
    }
    .checkbox:not(.checked) {
        border-color: var(--text3) !important;
    }
    .submit-button.disabled {
        visibility: hidden;
    }
}

@-moz-document regexp("^https?://(www\.)?bilibili\.com/opus/.*") {
    #app {
        top: 10px;
    }
    .side-toolbar__top,
    .opus-collection {
        box-shadow: var(--shadow-10);
        filter: none;
    }

    @media screen and (min-width: 1560px) {
        .opus-detail {
            width: 1008px;
        }
        .right-sidebar-wrap {
            margin-left: 1030px;
        }
    }

    [style*="#000000"],
    [style*="#2f3238"] {
        color: var(--text1) !important;
    }
    [style*="#56c1fe"] {
        color: var(--b-Lb2) !important;
    }
    [style*="#02a2ff"] {
        color: var(--b-Lb3) !important;
    }
    [style*="#0176ba"] {
        color: var(--b-Lb4) !important;
    }
    .opus-module-extend__item,
    [style*="#004e80"] {
        color: var(--b-Lb5) !important;
    }
    [style*="#73fdea"] {
        color: var(--b-Cy2) !important;
    }
    [style*="#18e7cf"] {
        color: var(--b-Cy3) !important;
    }
    [style*="#068f86"] {
        color: var(--b-Cy4) !important;
    }
    [style*="#017c76"] {
        color: var(--b-Cy5) !important;
    }
    [style*="#89fa4e"] {
        color: var(--b-Gr2) !important;
    }
    [style*="#60d837"] {
        color: var(--b-Gr3) !important;
    }
    [style*="#1db100"] {
        color: var(--b-Gr4) !important;
    }
    [style*="#017001"] {
        color: var(--b-Gr5) !important;
    }
    [style*="#ff968d"] {
        color: var(--b-Pi3) !important;
    }
    [style*="#ff654e"] {
        color: var(--b-Pi4) !important;
    }
    [style*="#ee230d"] {
        color: var(--b-Pi5) !important;
    }
    [style*="#ea0077"],
    [style*="#b41700"] {
        color: var(--b-Pi6) !important;
    }
    [style*="#ff8cc6"] {
        color: var(--b-Pu2) !important;
    }
    [style*="#ff8cc6"] {
        color: var(--b-Pu3) !important;
    }
    [style*="#cb297a"] {
        color: var(--b-Pu4) !important;
    }
    [style*="#99195e"] {
        color: var(--b-Pu5) !important;
    }
    [style*="#d6d5d5"] {
        color: var(--b-Ga8) !important;
    }
    [style*="#929292"] {
        color: var(--b-Ga6) !important;
    }
    [style*="#5f5f5f"] {
        color: var(--b-Ga5) !important;
    }
}